 <!DOCTYPE html>
<html ng-app="roomModule">
<head>
	<meta charset="UTF-8">
	<title></title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script src="js/angular.js"></script>
</head>
<body>
	<div class="cover" ng-show="first">
		<div class="title">
			<span>智能家居</span>
		</div>
		<div class="pro">
			<span class="text-infor">加载数据......</span>
			<div class="progress">
  				<div class="progress-bar progress-bar-success progress-bar-striped process active " role="progressbar" aria-valuemin="0" aria-valuemax="100">
  				</div>
			</div>
		</div>
		
	</div>

	<div class="box">
			<div class="left-part">
				<ul class="menu">
					<li ng-class={'active':num==1} ng-click="changeNum(1);"><div class="lamp"></div><label>日照灯</label></li>
					<li ng-class={'active':num==2} ng-click="changeNum(2);"><div class="drink"></div><label>饮水机</label></li>
					<li ng-class={'active':num==3} ng-click="changeNum(3);"><div class="air-condition"></div><label>空调</label></li>
					<li ng-class={'active':num==4} ng-click="changeNum(4);"><div class="sensor"></div><label>传感器模块</label></li>
					<li ng-class={'active':num==5} ng-click="changeNum(5);"><div class="jd"></div><label>家电模块</label></li>
					<li ng-class={'active':num==6} ng-click="changeNum(6);"><div class="set"></div><label>系统设置</label></li>
				</ul>
			</div>
			<div class="right-part">
				<div class="container-fluid">

				<!-- lamp 日照灯模块 -->
				<div id="lampPart" ng-show="num==1" class="row bgc" ng-controller="lampContrl">

					<div class="col-md-6">
						<div class="infor">

							<h3>室内光照强度： {{roomLight}}</h3>				
							<!-- <hr> -->
							<input type="text" class="form-control" ng-model="search" placeholder="搜  索" ><br>
							<ul ng-repeat="item in lamp | filter:search">
								<li>日照灯序号：{{item.id}}</li>
								
								<li>日照灯光照：{{item.light}}</li>
								<li class="status">
									<div class="word">日照灯控制：<span ng-bind="{true: '自动', false: '手动'}[item.contrl]"></span></div>
									<div class="checkbox2 pull-right">
										<input ng-model="item.contrl" type="checkbox" id="{{item.id+2}}">
										<label ng-click="" for="{{item.id+2}}"></label>
									</div>
								</li>
								<li class="status">

									<div class="word">日照灯状态：<span ng-bind="{true: '开启', false: '关闭'}[item.status]"></span></div>
									<div class="checkbox pull-right">
										<input ng-model="item.status" type="checkbox" id="{{item.id}}">
										<label ng-click="openOrClose(item.id)" for="{{item.id}}"></label>
									</div>

								</li>
								<li><hr></li>
							</ul>

						</div>
					</div>
					<div class="col-md-6">
						<div class="lightset">
							<h3>日照灯设置：</h3>
							<hr>
							<form action="">
								<div class="form-group">
 								  <label for="lowlight">设置最低光照</label>
 								  <input type="number" class="form-control" id="lowlight" ng-model="lowLight">
 								</div>
 								<div class="form-group">
 								  <label for="highlight">设置最高光照</label>
 								  <input type="number" class="form-control" id="highlight" ng-model="highLight">
 								</div>
 								<input class="btn btn-primary" ng-click="defaultLamp()" type="submit" value="设为默认值">
							</form>
							<hr>
							<h3>您设置的光照范围： {{lowLight}}-{{highLight}}</h3>
							<hr>
							<div class="btn-group">
								<button class="btn btn-danger" ng-click="closeAllLamp()">全关</button>
								<button class="btn btn-danger" ng-click="openAllLamp()">全开</button>							
							</div>
							<hr>
							<div class="mode">
 								<input type="checkbox" ng-model="lampNightMode"><h3>夜间模式</h3>
 							</div>
						</div>
					</div>
				</div>


				<!-- water 饮水机模块 -->
				<div id="waterPart" ng-show="num==2" class="row bgc tab_content" ng-controller="waterContrl">
					<div class="col-md-6">
						<div class="infor">
			
								<h3>饮水机水温： {{waterTemp}}℃</h3>
								<hr>
								<ul>
									<li>加热状态：{{heatingStatus}}</li>
									<li class="status">
										<div class="word">
											控制模式：<span ng-bind="{true:'自动',false:'手动'}[waterContrl]"></span>
										</div>
										<div class="checkbox2 pull-right">
											<input ng-model="waterContrl" type="checkbox" id="ckbox2">
											<label ng-click="" for="ckbox2"></label>
										</div>
									</li>
									<li class="status">
										<div class="word">
											饮水机状态：<span ng-bind="{true:'开启',false:'关闭'}[waterStatus]"></span>
										</div>
										<div class="checkbox pull-right">
											<input ng-model="waterStatus" type="checkbox" id="ckbox">
											<label ng-click="waterOpenOrClose()" for="ckbox"></label>
										</div>
									</li>
								</ul>
								<hr>
								<div class="mode">
 									<input type="checkbox" ng-model="workMode"><h3>工作模式</h3>
 								</div>

								<div class="workmode" ng-show="workMode">
									<div class="form-group">
 								 		<label for="workingTime"><h4>设置您的上班时间：{{workingTime | date:'shortTime'}}</h4></label>
 								  		<input type="time" class="form-control" id="workingTime" ng-model="workingTime">
 									</div>
									<div class="form-group">
 										<label for="closingTime"><h4>设置您的下班时间：{{closingTime | date:'shortTime'}}</h4></label>
 										<input type="time" class="form-control" id="closingTime" ng-model="closingTime">
 									</div>
 									<div class="mode">
 										<input type="checkbox" ng-model="saturday"><h4>应用于周六</h4>
 										<input type="checkbox" ng-model="sunday"><h4>应用于周日</h4>
 									</div>	
								</div>

 								<hr>

						</div>
					</div>
					<div class="col-md-6">
						<div class="lightset">
							<h3>饮水机设置：</h3>
							<hr>
							<form action="">
								<div class="form-group">
 								  <label for="keepWater">设置保温温度</label>
 								  <input type="number" class="form-control" id="keepWater" ng-model="keepWater">
 								</div>
								<div class="form-group">
									<div class="btn-group">

 										<input class="btn btn-primary" ng-click="setDrinkWater()" type="submit" value="饮用水水温">
 										<input class="btn btn-primary" ng-click="setTeaWater()" type="submit" value="泡茶水温">
 									</div>
 								</div>
							</form>
							<hr>
							<h3>您设置的饮水机保温温度为： {{keepWater}}℃</h3>
							<hr>	
							<div class="mode">
 								<input type="checkbox" ng-model="waterNightMode"><h3>夜间模式</h3>
 							</div>
							<hr>
 							<h4>温馨提示：</h4>
 							<p class="text-warning">饮用水的最适宜温度是<strong>10℃-30℃</strong>，泡茶时开水的最佳温度是<strong>70℃~80℃</strong>。</p>
 							
						</div>

					</div>
				</div>



				<!-- air condition 空调模块 -->
				<div id="airconditionPart" ng-show="num==3" class="row bgc tab_content" ng-controller="airConditionContrl">
					<div class="col-md-6">
						<div class="infor">
							<h4>城市: {{localCity}}</h4>
							<h4>室外温度: {{nowTemp}}℃</h4>
							<h4>今日天气: {{todayLowTemp}}-{{todayHighTemp}}℃，{{nowCond}}</h4>
							<hr>
								<h4>室内温度：{{roomTemp}}℃</h4>
								<h4>保持室温：{{keepTemp}}℃</h4>
								<hr>
								<ul>
									<li>空调模式：<span ng-bind="{1:'加热',2:'制冷',3:'--'}[mode]"></span></li>
									<li class="status">
										<div class="word">控制模式：<span ng-bind="{true:'自动',false:'手动'}[airConditionContrl]"></span></div>
										<div class="checkbox2 pull-right">
											<input ng-model="airConditionContrl" type="checkbox" id="ckbox4">
											<label ng-click="" for="ckbox4"></label>
										</div>
									</li>
									<li class="status">
										<div class="word">空调状态：<span ng-bind="{true:'开启',false:'关闭'}[airConditionStatus]"></span></div>
										<div class="checkbox pull-right">
											<input ng-model="airConditionStatus" type="checkbox" id="ckbox3">
											<label ng-click="airConditionOpenOrClose()" for="ckbox3"></label>
										</div>
									</li>
								</ul>
								<hr>
								<div class="mode">
 									<input type="checkbox" ng-model="airNightMode"><h3>夜间模式</h3>
 								</div>
 								<hr>

						</div>
					</div>
					<div class="col-md-6">
						<div class="lightset">
							<h3>空调设置：</h3>
							<hr>
							<form action="">
								<div class="form-group">
 								  <label for="lowTemp">设置最低室温</label>
 								  <input type="number" class="form-control" id="lowTemp" ng-model="lowTemp">
 								</div>
 								<div class="form-group">
 								  <label for="highTemp">设置最高室温</label>
 								  <input type="number" class="form-control" id="highTemp" ng-model="highTemp">
 								</div>
 								<div class="form-group">
 								  <label for="keepTemp">设置保持室温</label>
 								  <input type="number" class="form-control" id="keepTemp" ng-model="keepTemp">

 								</div>
								<div class="btn-group">

 									<input class="btn btn-primary" ng-click="setSummer()" type="submit" value="默认值(夏)">
 									<input class="btn btn-primary" ng-click="setWinter()" type="submit" value="默认值(冬)">
 									<input class="btn btn-primary" ng-click="setRisistant()" type="submit" value="耐受温度">
 								</div>
							</form>
							<hr>
							<h3>您设置的室内温度范围： {{lowTemp}}-{{highTemp}}℃</h3>
							

 							<hr>
 							<h4>温馨提示：</h4>
 							<p class="text-warning">最适宜人的室内温度：冬天温度为<em>18至25℃</em>，夏天温度为<em>23至28℃</em>。</p>
 							<p class="text-warning">“冷耐受” 的下限温度和“热耐受”的上限温度，分别定为<em>11℃和32℃</em>。 </p>
						</div>
					</div>
				</div>



				<!-- sensor -->
				<div id="sensor" ng-show="num==4" class="row bgc tab_content" ng-controller="sensorContrl">
					<div class="col-md-6">
						<div class="infor">
							<h2>传感器状态：</h2>
							<hr>
							<h4>室内光照传感器：  运行正常；</h4>
							<h4>饮水机水温传感器：运行正常；</h4>
							<h4>室内温度传感器：  运行正常；</h4>
							<hr>
							<h2>详细说明：</h2>
							<hr>
							<div id="SensorDetails">
								<normal>光照传感器运行正常。</normal>
								<danger>温度传感器故障！！</danger>
								<danger>室温传感器故障！！</danger>
							</div>
							
							<hr>

						</div>
					</div>
					<div class="col-md-6">
						<div class="infor">

							<h2>模拟从传感器获取数据：</h2>
							<hr>
							<h4>室内光照强度： {{roomLight}}</h4>
							<input type="number" class="form-control" ng-model="roomLight" >
							<hr>
							<h4>饮水机水温： {{waterTemp}}℃</h4>
							<input type="number" class="form-control" id="waterTemp" ng-model="waterTemp" >
							<hr>
							<h4>室内温度：{{roomTemp}}℃</h4>
							<input type="number" class="form-control" ng-model="roomTemp" >
							<hr>
						</div>
					</div>
				</div>
				<!-- app -->
				<div id="appliance" ng-show="num==5" class="row bgc tab_content" ng-controller="applianceContrl">
					<div class="col-md-6">
						<div class="infor">
							<h2>家电状态：</h2>
							<hr>
							<h4>日照灯： </h4>
								<normal ng-show="lampConn">日照灯连接正常</normal>
								<danger ng-hide="lampConn">日照灯连接异常</danger>
							<h4>饮水机：</h4>
								<normal ng-show="waterConn">饮水机连接正常</normal>
								<danger ng-hide="waterConn">饮水机连接异常</danger>
							<h4>空  调：</h4>
								<normal ng-show="airConditionConn">空调连接正常</normal>
								<danger ng-hide="airConditionConn">空调连接异常</danger>

							<hr>
							<h2>故障模拟：</h2>
							<hr>
							<div class="mode">
 								<input type="checkbox" ng-model="lampConn"><h4>日照灯连接正常</h4>
 								<div ng-show="lampConn" class="pull-right">
 									<input type="checkbox" ng-model="lampOvertime"> <h4>警告</h4>
 								</div>
 								<div ng-hide="lampConn" class="pull-right">
 									<input type="radio" value="1" ng-model="lampError"> <h4>故障一</h4>
 									<input type="radio" value="2" ng-model="lampError"> <h4>故障二</h4>
 								</div>
 							</div>
 							<div class="mode">
 								<input type="checkbox" ng-model="waterConn"><h4>饮水机连接正常</h4>
 								<div ng-show="waterConn" class="pull-right">
 									<input type="checkbox" ng-model="waterOvertime"> <h4>警告</h4>
 								</div>
 								<div ng-hide="waterConn" class="pull-right">
 									<input type="radio" value="1" ng-model="waterError"> <h4>故障一</h4>
 									<input type="radio" value="2" ng-model="waterError"> <h4>故障二</h4>
 								</div>
 							</div>
 							<div class="mode">
 								<input type="checkbox" ng-model="airConditionConn"><h4>空  调连接正常</h4>
 								<div ng-show="airConditionConn" class="pull-right">
 									<input type="checkbox" ng-model="airConditionOvertime"> <h4>警告</h4>
 								</div>
 								<div ng-hide="airConditionConn" class="pull-right">
 									<input type="radio" value="1" ng-model="airError"> <h4>故障一</h4>
 									<input type="radio" value="2" ng-model="airError"> <h4>故障二</h4>
 								</div>								
 							</div>


						</div>
					</div>
					<div class="col-md-6">
						<div class="infor">
							<h2>详细说明：</h2>
							<hr>
							<div id="AppDetails">
								<warning ng-show="lampOvertime">日照灯长时间开启，建议关闭</warning>
								<warning ng-show="waterOvertime">饮水机长时间未用，建议关闭</warning>
								<warning ng-show="airConditionOvertime">空调长时间开启，建议关闭</warning>


								<danger ng-hide="lampConn"><span ng-bind="{1:'日照灯:网络连接故障！',2:'日照灯故障'}[lampError]"></span></danger>
								<danger ng-hide="waterConn"><span ng-bind="{1:'饮水机:网络连接故障！',2:'饮水机故障'}[waterError]"></danger>			
								<danger ng-hide="airConditionConn"><span ng-bind="{1:'空调:网络连接故障！',2:'空调故障'}[airError]"></danger>
								
							</div>

						</div>
					</div>
				</div>
				<!-- setting -->
				<div id="setting" ng-show="num==6" class="row bgc tab_content"  ng-controller="settingContrl">
					<div class="col-md-6">
						<div class="infor">
							<h2>当前城市：<span ng-bind="localCity"></span><br><small><a href="" ng-click="cityToggle()">切换城市</a>&nbsp;|&nbsp;<a href="" ng-click="baidumap();">重新定位</a></small></h2>
							
							<div class="city-list" ng-show="cityShow">
								<div class="row">
									<div class="form-group col-md-6">
											<select class="form-control col-md-6" ng-model="province" ng-options="city.id as city.name for city in cityList | cityFilter:0" name="province" id="">
											</select>										
									</div>
									<div class="form-group col-md-6">
											<select class="form-control col-md-6" ng-model="city" ng-options="city.id as city.name for city in cityList | cityFilter:province" name="city" id="">
											</select>										
									</div>
									<div class="form-group col-md-12">
										<input type="button" ng-click="submitCity();" class="btn btn-warning" value="确定">
									</div>

								</div>
							</div>
							
							<hr>

							<h2>夜间模式时间区间：</h2>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="nightStart">from:<small>{{nightStart | date:'shortTime'}}</small></label>
									<input type="time" class="form-control" id="nightStart" ng-model="nightStart">
								</div>
								<div class="form-group col-md-6">
									<label for="nightEnd">to:<small>{{nightEnd | date:'shortTime'}}</small></label>
									<input type="time" value="22:52" class="form-control" id="nightEnd" ng-model="nightEnd">
								</div>
								<div class="form-group col-md-12">
									<input type="button" value="确认" class="btn btn-primary" ng-click="submitNightRange()">
								</div>
							</div>
							<hr>
							<button class="btn btn-danger" ng-click="reset();">恢复出厂设置</button>
							<hr>
						</div>
					</div>
					<div class="col-md-6">
						<div class="infor">
							<h2>默认设置：</h2>
							<hr>
							<div class="form-group">
								<label for="drinkWater">饮用水水温设置：</label>
								<input type="number" class="form-control" id="drinkWater" ng-model="drinkWater">
							</div>
							<div class="form-group">
								<label for="teaWater">泡茶水温设置：</label>
								<input type="number" class="form-control" id="teaWater" ng-model="teaWater">
							</div>
							<div class="form-group">
								<label>默认值（夏）设置：</label>
								<div class="row">	
									<div class="form-group col-md-6">
										<input type="number" class="form-control" ng-model="summerLowTemp">
									</div>
									<div class="form-group col-md-6">
										<input type="number" class="form-control" ng-model="summerHighTemp">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>默认值（冬）设置：</label>
								<div class="row">	
									<div class="form-group col-md-6">
										<input type="number" class="form-control" ng-model="winterLowTemp">
									</div>
									<div class="form-group col-md-6">
										<input type="number" class="form-control" ng-model="winterHighTemp">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>耐受温度：</label>
								<div class="row">	
									<div class="form-group col-md-6">
										<input type="number" class="form-control" ng-model="resistantLowTemp">
									</div>
									<div class="form-group col-md-6">
										<input type="number" class="form-control" ng-model="resistantHighTemp">
									</div>
								</div>
							</div>
							<div class="form-group">
								<input type="button" class= "btn btn-success" ng-click="saveAll()" value="保存">
							</div>
							
						</div>
					</div>
				</div>

				</div>

			</div>


	</div>

	<!-- mask -->
	<div class="mask" ng-show="mask">
		<button type="button" class="close" ng-click="mask=false"><span aria-hidden="true">&times;</span></button>
		<p id="content" class="content text-primary">提示框一</p>
		<div class="review">
 			<input type="checkbox" ng-model="review"><span class="text-primary"> 不再显示</span>
 			<button type=button class="btn btn-success pull-right" ng-click="mask=false">确定</button>
 		</div>
	</div>
	<!-- mask 2-->
	<div class="mask2" ng-show="mask2">
		<button type="button" class="close" ng-click="mask2=false"><span aria-hidden="true">&times;</span></button>
		<p id="content2" class="content text-primary">提示框二</p>
		<div class="review">
 			<button type=button class="btn btn-warning pull-right" ng-click="mask2=false">确定</button>
 		</div>
	</div>
	<div id="allmap" style="display:none"></div>
	
	<script src="js/baiduMap.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-resource.js"></script>	
	<script src="js/angular-route.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
    <!-- // <script src="js/factories.js"></script> -->
	<script src="js/lamp.js"></script>

</body>
</html>